.fl{float: left}
.fr{float:right }
/*********************************cart页面&&wishlist页面&&checkOut页面**********************/
.cart td, .data-table td, .forum-table td{
    border-left: none;
    border-right: none;
}
.shopping-cart-page table.cart{

}
.shopping-cart-page table.cart tr:last-child td{
    border:none;
}
.shopping-cart-page .order-summary-content{
    border: 1px solid #bbb;
}
.shopping-cart-page table{
    /*border-collapse: separate;*/
}
/*************头部**BEGIN************/
.cart_title{
    background: #f2f2f2;
    padding: 15px 23px 15px 21px;
    overflow: hidden;
}
.cart_title .cart_link{
    float: right;
}
.cart_title .cart_link>span{
    border: 1px solid #bbb;
    padding: 8px 18px;
    margin-right: 10px;
    background: #fff;
    /* text-align: right; */
}
.cart_title .cart_link>span:last-child{
    margin: 0;
}
/*************头部**END************/
.shopping-cart-page{color:#000}
/*产品详情*/
.shopping-cart-page .product-picture{
    /*display: inline-block;*/
    /*display: flex;*/
    overflow: hidden;
}
.shopping-cart-page .product-picture>div{
    float: left;
}
.shopping-cart-page .product-picture div.product_title{
    line-height: 84px;
    margin-left: 19px;
}
.shopping-cart-page .subtotal>label{
    vertical-align: bottom;
}
.shopping-cart-page .subtotal>span{
    font-size: 20px;
}
/**********结算尾部**BEGIN*******/
.shopping-cart-page .cart-options{
    background: #f2f2f2;
    font-size: 14px;
    padding: 30px 30px 50px 24px;
}
.shopping-cart-page .cart_option{
    display: flex;
    justify-content: space-between;
}
.shopping-cart-page .cart_select{
    float: left;
}
.shopping-cart-page .cart_select>input{
    margin-right: 12px;
}
.shopping-cart-page .cart_select>span{
    border: 1px solid #bbb;
    padding: 7px 18px;
    margin-left: 29px;
    cursor: pointer;
    background-color: #fff;
}
.shopping-cart-page .cart_quantity{
    color: #000;
    width: 24%;
    display: flex;
    justify-content: space-between;
}
.shopping-cart-page .cart_quantity_total>span{
    font-weight: 700;
    margin-top: 5px;
    display: inline-block;
}
.shopping-cart-page .cart_quantity_amount>span{
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.shopping-cart-page .cart_payment>button{
    float: right;
    /*color: #fff;*/
    /*background: #898989;*/
    padding: 9px 50px;
    border: 0;
    margin-top: 30px;
    color:#000;
    background:  #ffde00;
    font-weight: bold;
}

/**********结算尾部**END*******/
/*********************wishlist页面*****************/
.wishlist-page .subtotal>img{
    vertical-align: middle;
    margin-right: 3px;
}
.wishlist-page .subtotal{
    cursor: pointer;
}
.wishlist-page .cart-options{
    padding: 30px 30px 120px 24px;
}
.wishlist-page .cart_title{
    padding: 15px 12px 15px 21px;
}
.wishlist-page .cart_title .cart_link>span{
    padding: 8px 12px;
}
.wishlist-page .subtotal>span{
    font-size: 15px;
}
/*********************************checkOut页面**********************/
.checkout-page{
    color: #000;
}
/****Address Confirmation*/
.checkout-page .address_title,.checkout-page .order_title,.checkout-page .remark_title{
    background: #ebebeb;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}
.checkout-page .address_selection{
    padding: 30px 40px;
}
.checkout-page .address_billing{
    margin: 20px 0 30px 0;
}
.checkout-page .address_selection span{
    width: 110px;
    text-align: right;
    display: inline-block;
}
.checkout-page .address_selection select{
    width: 200px;
    color: #000;
}
/*.checkout-page .address_selection select option{*/
    /*color: #000;*/
/*}*/
/*Order Confirmation*/
.checkout-page .order_confirmation{
    border: 1px solid #ddd;
    border-bottom: 0;
    margin: 20px 0;
}
.checkout-page .product_title{
    line-height: 84px;
    margin-left: 19px;
}
.checkout-page td.subtotal>span{
    font-size: 20px;
}
    /*remark*/
.checkout-page .remark_detail>textarea{
    width: 80%;
    margin: 30px 0 50px;
}
.checkout-page .remark_submmit{
    background: #ebebeb;
    text-align: right;
    padding: 20px 25px;
}
.checkout-page .remark_amount{
    margin-left: 20px;
}
.checkout-page .remark_amount>strong{
    font-size: 19px;
    color:#f23c3c;
}
.checkout-page .remark_link>button{
    margin: 20px 0;
    border: 0;
    background: #fff;
    padding: 8px 50px;
    font-weight: 600;
}
.checkout-page .remark_link>button.remark_submit{
    margin-left: 9px;
}
.checkout-page .remark_link>button.active{
    background: #ffde00;
}